.DS_Store
*.log
*.pem
*.key

**/.env*
**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/.pytest_cache/
**/.ruff_cache/

**/node_modules/
**/.next/
**/out/
**/.eslintcache
**/*.tsbuildinfo

**/*.db
**/*.sqlite*
